doctype html
html
  head
    title Editar Historia Clínica
  body
    h1 Gestión de Historia Clínica

    // Tabla con la info actual
    table(border="1" cellpadding="2")
      thead
        tr
          th Nombre
          th Especie
          th Raza
          th Año de Nacimiento
          th Responsable
          th Teléfono
          th Veterinario
          th Motivo de la ultima consulta
          th Observaciones Previas
      tbody
        tr
          td #{mascota.nombre}
          td #{mascota.especie}
          td #{mascota.raza}
          td #{mascota.anioNacimiento}
          td #{mascota.responsable}
          td #{mascota.telefono}
          td !{mascota.veterinario.replace(/\n/g, '<br>')}
          td !{mascota.motivoConsulta.replace(/\n/g, '<br>')}
          td !{mascota.observaciones.replace(/\n/g, '<br>')}


    hr

    // Formulario para agregar nueva información
    form(action="/mascotas/" + mascota._id + "/editar-historia" method="POST")
      label Motivo de la nueva Consulta:
      input(type="text" name="motivoConsulta" value="")
      br
      label Observaciones (agregar más info):
      textarea(name="observaciones" rows="6" cols="50")
      br
      button(type="submit") Guardar Cambios
      br
      a(href="/mascotas") Volver a la lista de mascotas
